@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 6s linear infinite;
}
